.navbar {
  background: #2e51a2 !important;
  color: white;
}

.navbar a {
  font-family: Arroyo;
  font-size: 25px;
}

.navbar a :not(a) {
  font-family: Segoe UI;
  font-weight: 600;
  font-size: 20px;
  margin-left: 20px;
  display: inline-block;
  border-bottom: 2px solid white;
  padding-bottom: 1px;
}

.navbar span {
  margin-right: 20px;
}

.upcoming-shows {
  padding-bottom: 100%;
  background: #45577e;
  height: 100vh;
}

.upcoming-shows h2 {
  text-align: center;
  padding-top: 30px;
  color: white;
}

.upcoming-shows img {
  display: block;
  margin-bottom: 10px;
  width: 85%;
  border: 5px solid white;
  opacity: 0.9;
  box-shadow: 7px 8px 12px black;
}

.upcoming-shows span {
  color: white;
  font-weight: 600;
}
.random-anime {
  padding-bottom: 20%;
  text-align: center;
  margin-top: 50px;
}

.random-anime h2 {
  margin-bottom: 150px;
}

.random-anime .classification {
  display: block;
  text-align: left;
  margin: 40px;
  font-weight: 700;
  color: #2e51a2;
  font-size: 25px;
}

.random-anime span :not(.classification) {
  display: block;
  float: right;
  color: black;
}

.random-anime img {
  box-shadow: 7px 8px 12px #2e51a2;
}

.seasonal-anime {
  padding-bottom: 40%;
}
.seasonal-anime h2 {
  text-align: center;
  padding-top: 70px;
  color: #2e51a2;
}

.quotes {
  padding-bottom: 10%;
  background: #45577e;
  color: white;
}

.quotes h2 {
  padding-top: 40px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.quotes .anime p {
  text-align: center;
  font-style: italic;
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px;
}

.anime .character {
  display: block;
  text-align: center;
}

.anime .what-anime {
  display: block;
  text-align: center;
}
